[submodule "Limux/vendor/imgui"]
	path = Limux/vendor/imgui
	url = https://github.com/silvertakana/imgui.git
	branch = docking

[submodule "Limux/vendor/GLFW"]
	path = Limux/vendor/GLFW
	url = https://github.com/silvertakana/glfw.git

[submodule "Limux/vendor/glm"]
	path = Limux/vendor/glm
	url = https://github.com/silvertakana/glm.git
	
[submodule "Limux/vendor/stb"]
	path = Limux/vendor/stb
	url = https://github.com/silvertakana/stb

[submodule "Limux/vendor/assimp"]
	path = Limux/vendor/assimp
	url = https://github.com/silvertakana/assimp-premake.git
	
[submodule "Limux/vendor/yaml-cpp"]
	path = Limux/vendor/yaml-cpp
	url = https://github.com/silvertakana/yaml-cpp
