[submodule "Lumix/vendor/imgui"]
	path = Lumix/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "Lumix/vendor/GLFW"]
	path = Lumix/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Lumix/vendor/glm"]
	path = Lumix/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Lumix/vendor/stb"]
	path = Lumix/vendor/stb
	url = https://github.com/nothings/stb
